.container {
    display: grid;
    grid-template: 
        "header header header"
        "sidebar content content"
        "footer footer footer";
    grid-template-rows: auto 1fr auto;
    grid-gap: 1px;
    min-height: 100vh;
    min-width: 100vw;
}

@media screen and (max-width: 768px) {
    .container {
        grid-template-areas: 
        "header"
        "sidebar"
        "content"
        "footer";
        grid-template-rows: auto 1fr 1fr auto;
    }
}